*{
    cursor: url('../icons/icons8-cursor-64.png'), auto;
}

body{
    background-color: rgb(30, 30, 30);
}


h1.title-page{
    font-family: ;
    color: rgb(255, 251, 0);
    font-size: 70px;
}
.table-bio tr td {
    text-align: left;
    vertical-align: top;
}

.bio-card {
    box-shadow: 0 8px 32px 0 rgba(135, 116, 31, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    color: rgb(255, 251, 0);
}

.table-bio tr td:nth-child(1) {
    width: 35%;
}

.col:nth-child(2){
    width: 100%; /* you can use % */
    height: 100%;
}

.col:nth-child(2) img{
    width: auto; /* you can use % */
    height: auto;
}
.table-bio tr td:nth-child(3) {
    width: 100%;
}